include README.md
include LICENSE.txt
include requirements.txt
recursive-include trufor *.py
recursive-include trufor *.yaml
recursive-include trufor *.txt
exclude tests/*
exclude examples/*
exclude docs/*
global-exclude *.pyc
global-exclude __pycache__
